
body {
    font-family:Arial, Helvetica, sans-serif, cursive;
    background-color: rgb(164, 164, 201);
}

header {
    background-color: rgb(42, 90, 234);
    text-align: center;
    color:  rgb(236, 234, 228);
}

button {
    background-color: rgb(152, 67, 105);
}

.row {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.search {
    margin-top: 50px;
}
.card-body {
    border: solid;
    background-color: rgb(87, 87, 169);
    justify-items:center;
    display: block;
    margin: 20px;
    border-radius: 10px;
}
